/* estiliza a div do map, deixando responsiva */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 0 auto;
}

/* estiliza o map */
.map-responsive iframe{
    height:100%;
    width:100%;
    position:absolute;
    padding-bottom: 10%;
}

/* estiliza o txt */
.div-txt {
    padding-top: 5%;
    padding-left: 2%;
    width: 100%;
}
