/* importa e aplica o estilo da fonte */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

/* ref à scrollbar personalizada */
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #CCCCCC;
}
body::-webkit-scrollbar-button {
    border: .5px #FF0000 dashed;
}
body::-webkit-scrollbar-track {
    background: #CCCCCC;
}
body::-webkit-scrollbar-track-piece {
    background: #CCCCCC;
}
body::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 2px;
}
body::-webkit-scrollbar-corner {
    background: #FF0000;
    border-radius: 2px;
}

.caixa-texto {
    margin-top: 2%;
    width:100%;
    text-align: center;
}

.embed-responsive-item {
    border-radius: 10px;
}


/* estiliza o header */
header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

/* video de background no header */
.videoBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* txt de seja bem vindo */
.display-3 {
    font-size: 2.5rem !important;
}

/* container que envolve toda a pag */
.container {
    position: relative;
    z-index: 2;
}



  