/* importa e aplica o estilo da fonte */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

/* estiliza o txt em negrito atraves da tag <strong> */
strong {
    font-weight: bold !important;
}

/* estiliza o title */
/* normalmente utilizando a tag <h1> */
.title {
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: 6%;
    margin-bottom: 3%;
}

/* estiliza o sub-title */
/* normalmente utilizando a tag <h2> */
.sub-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 5%;
}

/* estiliza o txt */
/* normalmente utilizando a tag <h3> */
.txt {
    font-size: 1rem;
    font-weight: 300;
}

/* estiliza a img no background do header */
.img-back {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* estiliza o header */
header {
    position: relative;
    background-color: black;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

/* ref à scrollbar personalizada */
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #CCCCCC;
}
body::-webkit-scrollbar-button {
    border: .5px #FF0000 dashed;
}
body::-webkit-scrollbar-track {
    background: #CCCCCC;
}
body::-webkit-scrollbar-track-piece {
    background: #CCCCCC;
}
body::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 2px;
}
body::-webkit-scrollbar-corner {
    background: #FF0000;
    border-radius: 2px;
}